        <footer class="o-page__footer c-footer">
            <div class="o-container">
                <p class="u-flush"><small>© Copyright <a href="{{ site.patreon }}" target="_blank">Christine Hipp</a> | Built by <a href="mailto:hello@andrewhipp.com">Andrew Hipp</a></small></p>
            </div>
        </footer>

        <script type="text/javascript">
        	(function() {
        		var request, b = document.body, c = 'className', cs = 'customize-support', rcs = new RegExp('(^|\\s+)(no-)?'+cs+'(\\s+|$)');

        		request = true;

    			b[c] = b[c].replace( rcs, ' ' );
    			// The customizer requires postMessage and CORS (if the site is cross domain)
    			b[c] += ( window.postMessage && request ? ' ' : ' no-' ) + cs;
    		}());
    	</script>

        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

        <!-- <script src="{{ "/assets/js/main.js" | relative_url }}"></script> -->

    </body>
</html>
