/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.c-footer {
    padding: spacer(1) 0;
    background: #181c1f;
    color: #fff;
    text-align: center;
}
