/*------------------------------------*\
    #FRAME
\*------------------------------------*/

.c-frame {
    margin-bottom: spacer(1);
    border: 1px solid #fff;
    box-shadow: 3px 3px 0 fade-out(#000, 0.5);
}
