/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.c-header {
    background: #3d1820;


}


.c-header__content {
    padding: spacer(0.5) 0;
    display: flex;
    align-items: center;

    @include media('sm') {
        padding: spacer(1) 0;
    }

    @include media('sm') {
        flex-direction: row;
        justify-content: space-between;
    }

}

.c-header__block {
    flex-shrink: 1;

    &:not(:last-child) {
        padding-right: 10px;
    }

    &:not(:first-child) {
        padding-left: 10px;
    }

}
