/*------------------------------------*\
    #PAGE
\*------------------------------------*/

/**
 * Body
 */
html {
    background: color('body');
    color: $base-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
