/*------------------------------------*\
    #TEXT UTILITES
\*------------------------------------*/

/**
 * Text Alignment
 */
.u-text-center {
    text-align: center;
}


.u-script {
    font-family: 'Infinium';
    text-transform: uppercase;
}
